*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1E252C;
}
.container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    transform-style: preserve-3d;
}
.container .img{
    position: relative;
    width:120px;
    height: 120px;
    transition: 0.5s;
    transform-origin: bottom center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0002)
}